@use 'theme-vars' as *;

section {
  padding: 8rem 0;
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.8s ease-in-out,
    transform 0.8s ease-in-out;
  position: relative;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-header {
  text-align: center;
  margin-bottom: 5rem;

  h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 800;
    letter-spacing: -1.5px;

    background: linear-gradient(90deg, $text-primary, $purple-end, $text-primary);

    background-size: 200% 100%;
    animation: textGradientMove 4s linear infinite alternate;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  p {
    color: $text-secondary;
    font-size: 1.2rem;
    font-weight: 400;
  }
}
.animate-text {
  opacity: 0;
  transform: translateY(24px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-card {
  opacity: 0;
  transform: translateY(40px) scale(0.96);
  transition:
    border-color 0.3s ease,
    opacity 0.7s ease,
    transform 0.7s ease;

  &.visible {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.delay-1 {
  transition-delay: 0s, 0.1s, 0.1s;
}

.delay-2 {
  transition-delay: 0s, 0.2s, 0.2s;
}

.delay-3 {
  transition-delay: 0s, 0.3s, 0.3s;
}

.delay-4 {
  transition-delay: 0s, 0.4s, 0.4s;
}

.animate-text-left {
  opacity: 0;
  transform: translateX(-40px);
  transition:
    opacity 0.9s ease-in-out,
    transform 0.9s ease-in-out;

  &.visible {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-text-right {
  opacity: 0;
  transform: translateX(40px);
  transition:
    opacity 0.9s ease-in-out,
    transform 0.9s ease-in-out;

  &.visible {
    opacity: 1;
    transform: translateX(0);
  }
}

.text-delay-1 {
  transition-delay: 0.15s;
}

.text-delay-2 {
  transition-delay: 0.3s;
}

.text-delay-3 {
  transition-delay: 0.45s;
}

@media (max-width: 968px) {
  section {
    padding: 5rem 0;
  }
}

@media (max-width: 640px) {
  .section-header h2 {
    font-size: 2rem;
  }
}

@keyframes textGradientMove {
  0% {
    background-position: 300% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
