<section id="education" appObserve>
  <div class="container">
    <app-section-title
      title="Education"
      subtitle="My education and training background"
    ></app-section-title>

    <div class="education-grid">
      @for (edu of education; track $index) {
        <div
          appObserve
          class="education-card animate-card"
          [ngClass]="'delay-' + (($index % 3) + 1)"
        >
          <h3>{{ edu.studyType }}</h3>
          <div class="institution">{{ edu.institution }}</div>
          <p class="area">{{ edu.area }}</p>
          <div class="dates">{{ edu.startDate }} {{ edu.endDate }}</div>
        </div>
      }
    </div>

    <div class="certifications">
      <h3 class="animate-text-right" appObserve>Certifications</h3>

      <div class="cert-list">
        @for (cert of certifications; track $index) {
          <div class="cert-item animate-card" [ngClass]="'delay-' + (($index % 3) + 1)" appObserve>
            <div>
              <div class="name">{{ cert.name }}</div>
              <div class="issuer">{{ cert.issuer }}</div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>
